{% extends "base.html" %}
{% block title %}Random Generator List{% endblock %}
{% block content %}
<h2>Random generators:</h2>
    <ul>
        <li><a href="/random/int">Random integer</a></li>
        <li><a href="/random/float">Random float</a></li>
        <li><a href="/random/dice">Random dice</a></li>
        <li><a href="/random/date">Random date</a></li>
        <li><a href="/random/color">Random color</a></li>
        <li><a href="/random/element">Random chemical element</a></li>
        <li><a href="/random/letter">Random letter</a> (<a href="/letter/upper">UPPERCASE</a>)
            <ul><li><a href="/random/letter/greek">Random Greek letter</a></li></ul>
            <ul><li><a href="/random/letter/russian">Random Russian letter</a></li></ul>
        </li>
        <li>Geography-related Generators
          <ul>
            <li><a href="/random/country">Random Country</a></li>
            <li><a href="/random/usa/state">Random American state</a></li>
            <li><a href="/random/canada">Random Canadian province/territory</a></li>
          </ul>
        </li>
        <li>Sports-related Generators
          <ul>
            <li><a href="/random/nba">Random NBA Team</a></li>
            <li><a href="/random/nhl">Random NHL Team</a></li>
          </ul>
        </li>
    </ul>

{% endblock %}